extends layout.pug
block content
    h1.text-4xl.mb-5.text-center Login sur domain front santeclick
    div.grid
        div(class="block p-6 rounded-lg shadow-lg bg-white justify-self-center w-1/3")
            form(action="#",method="POST",id="loginForm")
                div.form-group.mb-6
                    label.form-label.inline-block.mb-2.text-gray-700 Username &nbsp; 
                    input(type="text",required=true,value="test",class=" mb-6 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none")
                    label.form-label.inline-block.mb-2.text-gray-700 Password &nbsp; 
                    input(type="password",required=true,value="test",class="mb-6 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none")
                    input(type="submit",value="Connexion" class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out")